<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Context docBase="D:/User/OneDrive/Desktop/Spring/Project/SpringWeb/src/main/webapp">
  <Resources cacheMaxSize="10240">
    <PreResources base="D:/User/OneDrive/Desktop/Spring/Project/SpringWeb/target/classes" className="org.apache.catalina.webresources.DirResourceSet" webAppMount="/WEB-INF/classes"/>
    <PostResources base="C:/Users/Asus/.m2/repository/com/mysql/mysql-connector-j/8.0.33/mysql-connector-j-8.0.33.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/mysql-connector-j-8.0.33.jar"/>
    <PostResources base="C:/Users/Asus/.m2/repository/com/google/protobuf/protobuf-java/3.21.9/protobuf-java-3.21.9.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/protobuf-java-3.21.9.jar"/>
  </Resources>
</Context>
